
<div class="about">
    <table>
        <h5>About Me</h5>
      <tr>
        <td>
            <img src="sar.jpg" alt="jpg" class="Sarah-pic">
          </td>

        <td>
        <h2 class="about-h2"> Sarah Mae M. Suyat</h2>
            <ul>19 yrs old</ul>
            <ul>Born on July 22, 2004</ul>
            <ul>Dicklum, Manolo Fortich, Bukidnon</ul>
            <ul>BSIT student</ul>
            <ul>Studied at Northern Bukidnon State College</ul>
      </td>

     
      </tr>
    </table>
  </div>
  </div>