<div class="project">
    <h1>PROJECTS</h1>

        <li><a href="https://github.com/Xeirah07/it21c-project/tree/main/src/BankAccount">Bank Account</a></li>
        <li><a href="https://github.com/Xeirah07/it21c-project/tree/main/src/Employee">Employee</a></li>
        <li><a href="https://github.com/Xeirah07/it21c-project/tree/main/src/Inheritance">Inheritance</a></li>
        <li><a href="https://github.com/Xeirah07/it21c-project/tree/main/src/LampAndStudent">Lamp and Student</a></li>
        <li><a href="https://github.com/Xeirah07/it21c-project/tree/main/src/OOP/basics">OOP basics</a></li>
        <li><a href="https://github.com/Xeirah07/it21c-project/tree/main/src/Polymorphism">Polymorphism</a></li>
        <li><a href="https://github.com/Xeirah07/it21c-project/tree/main/src/SortingArray">Sorting Array</a></li>
        <li> <a href="https://github.com/Xeirah07/it21c-project/tree/main/src/Student">Student</a></li>
        <li><a href="https://github.com/Xeirah07/OOP-abstract/tree/main/src">Abstract</a></li>
    
    
    </div>